/*


	+-+
	|E|
	+-+

	Exegesis Framework by Timothy Long (@timothylong)


*/

	@import url(reset.css);

/*

	Primary Styles
	
*/

body {
	background:#fff;
	font: 14px/24px Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#ddd;
	text-align:center;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	line-height:32px;
	margin:0 0 8px;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:20px;
}
h4 {
	font-size:18px;
}
h5,h6 {
	font-size:16px;
}
a,a:visited {
	color:#a6a6a6;
	text-decoration:none;
}
a:hover {
	color:#d9d9d9;
}
a:focus {
	outline:none;
}
a:hover,a:active {
	outline:0;
}
p,ul,ol {
	margin:0 0 20px;
}
ul,ol {
	padding:0;
}
ul ul,ul ol,ol ol,ol ul {
	margin:0;
}
li {
	display:list-item;
	list-style-position:outside;
	margin:0 0 0 2em;
	padding:0;
}
em {
	font-style:italic;
}
img {
	border: none;
}





/*

	Layout
	
*/

#container {
	width:920px;
	text-align:left;
	position:relative;
	margin:0 auto;
}
header {
	position:relative;
	margin:100px 0;
}
.grid img {
	width:100%;
	height:auto;
}
nav {
	margin:20px 0 0;
}
nav ul {
	list-style:none;
	line-height:1;
}
nav ul li {
	display:inline;
	font-size:16px;
	-webkit-transition:background-gridor .15s ease-out;
	-moz-transition:background-gridor .15s ease-out;
	margin:0 25px 0 0;
}
footer {
	position:relative;
	clear:both;
	padding: 25px 0;
}





/*
	
	The Percentage Grid
	
*/

.row {
	overflow:hidden;
	margin-bottom:20px;
}
.grid {
	float:left;
	display:inline;
	margin-left:2%;
	width:49%;
}
.grid1 .grid {
	width:100%;
	margin:0;
}
.grid3 .grid {
	width:32%;
}
.grid4 .grid {
	width: 23.5%;
}





/*
	
	Media Queries for Mobile Support
	
*/

@media only screen and (max-width:480px) {
	#container {
		width:92%;
	}
	header,footer,nav {
		text-align:center;
	}
	nav ul li {
		display:block;
		margin:0 0 10px;
	}
	.grid1 .grid,.grid,.grid3 .grid,.grid4 .grid {
		float:none;
		width:100%;
		margin:0 0 10px;
		display:block;
	}
	.row {
		margin-bottom:0 !important;
	}
}
@media only screen and (max-width:940px) {
	header {
		margin:50px 0;
	}
	#container {
		width:92%;
	}
	.row {
		margin-bottom: 10px;
	}
}





/*
	
	Helper Classes
	
*/

.first {
	margin-left:0!important;
}
.last {
	margin-right:0!important;
}